   *{
    margin: 0;
    padding: 0;
 
    font-family: sans-serif;
} 
body{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(image/login_img.jpg); 
background-repeat: no-repeat; 

}

.navbar {
    overflow: hidden;
    background-color: black;
  }
  .navbar a {
    float: left;
    display: block;
    color: white; 
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  .navbar a.right {
    float: right;
  }
  .navbar a:hover, .dropdown:hover .dropbtn{
    background-color: lightgray;
    
    color: black;
  }
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: lightblue;
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: white;
   
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
.hero{
    height: 100%;
    width: 100%;
     background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(image/login_img.jpg); 
  /* background-image: url(image/login_img.jpg);  */
  background-position: center;
  padding: 0;
 margin-top: 0; 
 background-size: cover;
 position: absolute;

}.form-box{
    width: 400px;
    height: 580px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
 }.button-box{
    width: 230px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 40px;
} .toggle-btn{
    padding:10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 100px;
    height: 35px;
    background: linear-gradient(to right,#ff105f,#ffad06);
    border-radius: 33px;
    transition: .5s;
} .social-icons{
    margin: 10px auto;
    text-align: center;

}.social-icons img{
    width: 30px 70%;
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
border-radius: 50%;




}.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background:  linear-gradient(to right,#ff105f,#ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
}.chech-box{
    margin: 30px 10px 30px 0;
}
span{
    color: rgb(90, 93, 109);
    font-size: 12px;
    bottom:68px;
    position: absolute;
}#login{
    left: 50px;
}
#registration{
    left: 450px;
}
