
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins', sans-serif;
}
body{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(ima); 
background-repeat: no-repeat;
}
.navbar {
    overflow: hidden;
    background-color: black;
  }
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  .navbar a.right {
    float: right;
  }
  .navbar a:hover, .dropdown:hover .dropbtn{
    background-color: lightgray;
    color: black;
  }
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: lightblue;
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: white;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    /* background: url(image/); */
    background-size: cover;
}
.contact .contact{
    max-width: 800px;
    text-align: center;
}.contact .contact h2{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}
.contact .contact p{
  
    font-weight: 300;
    color: aliceblue;
}.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactinfo{
    width:50% ;
    display: flex;
    flex-direction: column;
}.container .contactinfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactinfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactinfo .box .text{
    display: flex;
    margin-left:20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}.container .contactinfo .box .text h3{
    font-weight: 500;
    color: #00bcd4;
}.contactform{
    width: 40%;
    padding: 40px;
    background: #fff;
}.contactform h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}.contactform .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;

}
.contactform .inputBox input,
.contactform .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
} .contactform .inputBox span{

    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
} .contactform .inputBox input:focus ~ span ,
.contactform .inputBox input:valid ~ span,
.contactform .inputBox textarea:focus ~ span ,
.contactform .inputBox textarea:valid ~ span{
    color: #e91e63;
    transform: translatey(-20px);
}
.contactform .inputBox input[type="submit"]{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}@media ( max-width: 991px){
    .contact{
        padding: 50px;
    }.container{
        flex-direction: column;
    }.container .contactinfo{
        margin-bottom: 40px;
    }.container .contactinfo,
    .contactform{
        width: 100%;
    }
}